/* style_detalhes.css */

/* Reset básico */
body, h1, h2, p {
    margin: 15px;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #343a40;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.detalles-propriedade {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.propriedade-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas iguais */
    gap: 15px; /* Espaçamento entre as colunas */
}

.info-item {
    padding: 10px;
    border: 1px solid #ddd; /* Bordas para os itens */
    border-radius: 5px;
    background-color: #fff; /* Fundo branco para os itens */
}

.acoes {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 10px; /* Espaçamento entre os botões */
    justify-content: center; /* Centraliza os botões */
}

#deletar{
    background-color: red;
}

#deletar:hover{
    background-color: rgb(185, 0, 0);
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}


button:hover {
    background-color: #1e7c34; /* Efeito hover */
}

.acoes a{
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.acoes a:hover{
    background-color: #1e7c34; /* Efeito hover */
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
    position: relative;
    bottom: 0;
    width: 100%;
}

.documentos-info {
    max-height: 300px; /* Ajuste a altura conforme necessário */
    overflow-y: auto;  /* Adiciona rolagem vertical */
    border: 1px solid #ccc; /* Adiciona uma borda para destacar a área */
    padding: 10px; /* Espaçamento interno */
    background-color: #f9f9f9; /* Cor de fundo */
}


.documentos-info ul {
    list-style-type: none;
    padding: 0;
}

.documentos-info li {
    margin-bottom: 10px;
}

.documentos-info a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.documentos-info a:hover {
    text-decoration: underline;
}

.documentos-info p {
    color: #666;
    font-style: italic;
}
